.box{
    height: 100px;
    width: 100px;
    background-color: violet ;
    transition: all 500ms;
    box-shadow: 5px 10px 15px grey;
    margin: 30px;
}
.box:hover{
    height: 200px;
    width: 200px;
    background-color: red;
    border-width: 3px;
    border-color: antiquewhite;
    border-style: solid;
}
.box:active{
    background-color: aqua;
}